$openfont:'Open Sans',sans-serif;
$owsfont: 'Oswald',sans-serif;
$nunfont: 'Nunito',sans-serif;
$atonfont:'Anton', sans-serif;
/* ======================
    font variable ends
=========================*/